.figure {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.playerOne {
    composes: figure;
    background-color: red;
}

.playerTwo {
    composes: figure;
    background-color: blue;
}

@media only screen and (max-width: 440px) {
    .figure {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 340px) {
    .figure {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 260px) {
    .figure {
        width: 10px;
        height: 10px;
    }
}